<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

<title>Weather</title>
<meta name="description" content="Weather-app">
<meta name="author" content="SitePoint">  
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/styles.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/styles.css') }}"-->

</head>
<body background="../static/image/cornfield.jpg">
<!-- Search form -->
<form method="POST" action="/" id="weather-search">
<div class="active-cyan-3 active-cyan-4 mb-4">
  <input class="form-control" type="text" placeholder="Search" name="search" aria-label="Search">
</form>

</div>


<h2 id="city-name"></h2>

<div class="card" style="width: 55rem;height: 20rem">

  <div class="card-body">

  <div id="T">
    <h1 class="Temperature" ></h1>
    <p id="icon"></p>
    </div>

    <div id="d">
    <h1 class="description" id="d"></h1>
</div>
    <div id="w">
    <h1 class="wind">wind</h1>
   <p class="font-weight-light" id="wind"></p>
 </div>


<div id="h">
    <h1 class="humidity">Humidity</h1>
<p class="font-weight-light" id="humidity"></p>
</div>

<div id="tonight">
    <h1 class="tonight">Tonight</h1>
    <p id="icon-2" ></p>
<p class="font-weight-light" id="tonight-temp"></p>
</div>


<div id="tomo">
    <h1 class="tomorrow">Tomorrow</h1>
    <p class="font-weight-light" id="tomorrow-temp"></p>
    <p id="icon-3"></i></p>

<!--img src="../static/image/cloud.png" alt="cloud" id="image-tomorrow" style="width: 3rem;height:3rem"-->

</div>


    <!--img src="../static/image/sunny.png" alt="sunny" id="today-image" style="width: 10rem;height:10rem"-->

  <p class="card-text"></p>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='../static/js/weather-app.min.js') }}"></script>

</body>
</html>